<html>
    <head>
        <title>Lotus</title>
    </head>

    <body>
        <header>
            <div>
                <h1>
                    <a href="{% url 'home' %}">Lotus</a>
                </h1>
            <div>
            

        </header>

        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}</p>
            <p><a href={% url 'logout' %}>Log out</a><p>
        {% else %}
            <p>You are not Logged in</p>
            <a href={% url 'login' %}>Log in</a>
        
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>